<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kfitzi.io</title>
    <meta name="description" content="Kayla Fitzsimmons, a modern web developer.">
	 <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
  <body>
   <script> document.documentElement.setAttribute("data-browser", navigator.userAgent); </script>
    <div id='app'/>
  </body>
</html>
