@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/neo.css";

.CodeMirror pre {
	font-family: Roboto, sans-serif;
}
.CodeMirror {
	height: auto!important;
	position: relative;
	overflow-y: scroll;
}
@media (min-device-width: 1224px) {
	.ReactCodeMirror {
		width: 600px;
	}
}
@media (max-device-width: 1224px) {
	.ReactCodeMirror {
		max-width: 300px!important;
	}
}


.ReactCodeMirror {
//	height: 100%!important;
}
.cm-def {
		text-decoration: none;
}
