@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/neo.css";

.CodeMirror pre {
	font-family: Roboto, sans-serif;
}
.CodeMirror {
	height: auto!important;
	position: relative;
	overflow-y: scroll;
}

.ReactCodeMirror {
	width: "50vw"
}
.cm-def {
		text-decoration: none;
}
