@mixin tile-mixin($height, $width) {
    .tile {
        animation-duration: .5s;
        transition-timing-function: ease-in-out;
        animation-delay: .5s;
        height: $height !important;
        width: $width !important;
        transition: height linear 5s;

        flex-shrink: 0;
        overflow: hidden;
        border: black 1px solid !important;
        order: -5 !important;
        & div div {
            padding: 0 !important;

        }
    }

    .tile-header {
        height: $height !important;
        width: $width !important;
        overflow: hidden;
        padding: 0 !important;
        & img {
            height: $height !important;
            width: $width !important;
        }
        & div {
            visibility: collapse;
        }
    }
}
