@import "./education.scss";

html {
    width: 100%!important;
    height: 100%!important;

}

body {
    margin: 0;
    padding: 0;
}

.scroll-arrow {
  right: 5vw;
  bottom: 5vh;
  margin: auto;
  z-index: 7000;
  position: fixed;
  opacity: .5 !important;

  &:active {
      opacity: 1 !important;
      stroke: black;
  }

  &:hover {
      opacity: 1 !important;
      stroke: black;
      fill: black;
  }
}
// .tag {
// 	font-size: 12px;
// 	border: black .5px solid;
// 	margin-top: 10px;
// 	margin-right: 1px;
// 	padding: 3px;
// 	border-radius: 2px;
// 	background-color: white;
// }
