@import "./education.scss";


// @import "media.scss";
//
html {
    width: 100%!important;
    height: 100%!important;

}
//
body {
    margin: 0;
    padding: 0;
}
//
// #app {
//     width: 100% !important;
//     height: 100% !important;
//     padding: 0;
//     margin: 0;
// }
//
// li {
//     list-style: none;
// }
//
// a {
//     color: darkcyan;
// }
//
// p {
//     flex-wrap: wrap;
// }
// .tag {
// 	font-size: 12px;
// 	border: black .5px solid;
// 	margin-top: 10px;
// 	margin-right: 1px;
// 	padding: 3px;
// 	border-radius: 2px;
// 	background-color: white;
// }
//
// .drawer {
// 	background-color: black!important;
// }
